@model PagedList.IPagedList<Delivery.Models.Orders>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "订单公告";
}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ta8D0yykrTj7hGKuvdaYOWcOiwvhsZG4"></script>

<body>
    <div class="header">
        <div class="container" style="margin-top:10px;border-radius:10px">
            <header>
                <h2 align="center"><a href="#news" class="scroll-link"><span class="glyphicon glyphicon-list-alt"></span><b>News</b></a></h2>
            </header>
        </div>
        <div class="container">
            <div class="row" align="center">
                <div class="col-sm-4">
                    <img src="~/images/clock.png" class="img-responsive" alt="Clock icon">
                </div>
                <div class="col-sm-4">
                    <img src="~/images/graph.png" class="img-responsive" alt="Graph icon">
                </div>
                <div class="col-sm-4">
                    <img src="~/images/open-box.png" class="img-responsive" alt="Box icon">
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Announcement", "Orders", FormMethod.Get))
        {
            <div class="container">
                <div class="row search" align="center">
                    <div class="col-md-2 col-md-offset-2 search-select-div">
                        <select class="search-select" name="type">
                            <option value="0">全部</option>
                            <option value="1">领取地点</option>
                            <option value="2">酬劳[现金]</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <input type="text" name="key" class="search-input" value=@ViewBag.CurrentFilter>
                        </div>
                        <div style="background-color:darksalmon">
                            <button type="submit" class="submit-btn"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div> 
    <div id="news">
        <div class="table-responsive">
            <table class="table bordered table-striped">
                <tr>
                    <th>
                        @Html.ActionLink("发单人", "Announcement", new { sortOrder = ViewBag.SenderName, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink("领取地点", "Announcement", new { sortOrder = ViewBag.PickLocation, currentFilter = ViewBag.CurrentFilter })
                        @*@Html.DisplayNameFor(model => model.PickLocation.PlaceName)*@
                    </th>
                    <th>
                        酬金类型
                    </th>
                    <th>
                        @Html.ActionLink("酬金", "Announcement", new { sortOrder = ViewBag.Money, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Mark)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>*@
                    <th>
                        @Html.ActionLink("公告时间", "Announcement", new { sortOrder = ViewBag.PublishTime, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.EndTime)
                        </th>*@
                    <th>操作</th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @Html.HiddenFor(modelItem => item.ID)
                            <td>
                                @Html.DisplayFor(modelItem => item.Sender.Name)
                            </td>
                            <td id="PlaceName">
                                @Html.DisplayFor(modelItem => item.PickLocation.PlaceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reward.Type)
                            </td>
                            <td>
                                @if (item.Reward.Type == "现金")
                                {
                                    @Html.DisplayFor(modelItem => item.Reward.Money)
                                    <span>元</span>
                                }
                                else if (item.Reward.Type == "物品")
                                {
                                    <span class="glyphicon glyphicon-gift"></span>@Html.DisplayFor(modelItem => item.Reward.Remark)
                                }

                                else if (item.Reward.Type == "现金+物品")
                                {
                                    @Html.DisplayFor(modelItem => item.Reward.Money)<span>元</span>
                                                    @Html.DisplayFor(modelItem => item.Reward.Remark)
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PublishTime)
                            </td>

                            <td>
                                <button id="1" class="btn btn-primary" onClick="delcfm('${ctxPath}/manager/project/delete?id=${vo.id?default()}',this)">
                                    代收
                                </button>
                                <a class="location-btn" onclick="showLoc(this)"><span class="glyphicon glyphicon-map-marker btn-border"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
        <div class="row">
            <div class="col-md-6 col-md-offset-3 page-size">
                @Html.PagedListPager(Model, page => Url.Action("Announcement", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
          
                          
    <div style="height:80px" id="map">
        <label class="control-label col-md-2"> 地点查看</label>
        <div id="r-result"  class="col-md-10">
            <input type="hidden" id="suggestId" class="form-control" size="20" value="百度" />
        </div>
        <hr>
        <div id="l-map" style="border-radius:20px"></div>
        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
        <br><br>
    </div>




    <!-- 信息确认 -->
    <div class="modal fade" id="delcfmModel">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">确认您的联系方式</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody id="myInfo">
                            <tr class="active">
                                <td>联系人</td>
                                <td id="name"></td>
                            </tr>
                            <tr class="success">
                                <td>手机</td>
                                <td id="phone"></td>
                            </tr>
                            <tr class="warning">
                                <td>地址</td>
                                <td><input type="text" class="form-control" id="address" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="url" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <a onclick="apply()" class="btn btn-success" data-dismiss="modal">确定</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>

<script type="text/javascript">
    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    var map = new BMap.Map("l-map");
    map.centerAndZoom("北京", 12);                   // 初始化地图,设置城市和地图级别。

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
		{
		    "input": "suggestId"
		, "location": map
		});

    ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace() {
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun() {
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }

    /*自动定位地图信息*/
    function showLoc(obj) {
        
        myValue = $(obj).closest("tr").find("#PlaceName").text();
        setPlace();
        window.location.href='#map';
    }

    var orderID;
    function delcfm(url, obj) {
        button_id = obj.id;
        $('#url').val(url);//给会话中的隐藏属性URL赋值
        $('#delcfmModel').modal();
        //alert("here");
        $.ajax({
            type:'POST',
            url: '@Url.Action("GetInfo","Orders")',
            data: {},
            dataType: 'json',
            success: function (data) {
                console.log(data);                
                $("#name").html(data.name);
                $("#phone").html(data.phone);
                orderID=$(obj).closest("tr").find("#item_ID").val();
            },
            error:function(){}
        });
    }

    function apply() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Apply","Orders")',
            data: {
                orderId:orderID,
                address: $("#address").val(),
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data == "SUCCESS") {
                    alert("申请成功！");
                }
                else if (data == "FAIL") {
                    alert("申请失败");
                }
                else {
                    alert(data);
                }
            },
            error: function () { }
        });
    }
</script>