@model IEnumerable<Delivery.Models.Orders>

@{
    ViewBag.Title = "订单公告";
}

<html lang="zh">
<head>
   @Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/bootstrap.min.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/app.css">
    <link rel="stylesheet" type="text/css" href="~/Content/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/default.css">
    <script src="~/scripts/app.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ta8D0yykrTj7hGKuvdaYOWcOiwvhsZG4"></script>
<style>

     /*分页样式*/
 #divPage {
  text-align:center;
  margin:10px 0px;
  height:30px;
  font-size:12px;
 } 
 #divPage a, #divPage span {
  text-decoration:none;
  color:Blue;
  background-color:White;
  padding:3px 5px;
  font-family:Consolas;
  text-align:center;
  border:solid 1px #ddd;
  display:inline-block;
 } 
 #divPage span {
  color:gray;
 }  
 #divPage a:hover {
  color:Red;
 }
 #divPage .aCur {
  background-color:green;
  color:White;
  font-weight:bold;
 }
    </style>
</head>
<body>
   <div class="bg-grey" style="height:300px;margin-top:80px">
        <div class="container" style="margin-top:80px;border-radius:10px">
            <header>
                <h2 align="center"><a href="#news" class="scroll-link"><span class="glyphicon glyphicon-list-alt"></span><b>News</b></a></h2>
                
            </header>
        </div>
    <div class="row" align="center">
        <div class="col-sm-4">
            <img src="~/images/clock.png" alt="Clock icon">
        </div>
        <div class="col-sm-4">
            <img src="~/images/graph.png" alt="Graph icon">
        </div>
        <div class="col-sm-4">
            <img src="~/images/open-box.png" alt="Box icon">
        </div>
            
        </div>
       @using (Html.BeginForm())
       {
           <div class="row" style="height:100px;">
               <div class="col-md-2 col-md-offset-2" style="padding-top:30px">
                   <select style="border-radius:3px" name="type">
                       <option value="0">全部</option>
                       <option value="1">领取地点</option>
                       <option value="2">酬劳[现金]</option>
                   </select>
               </div>
               <div class="col-md-7" style="padding-top:25px;">
                   <div class="kuan">
                       <input type="text" name="key" style="width:330px; height:50px;float:left;border-radius:2px; ">
                   </div>
                   <div class="an" style="background-color:darksalmon">
                       <button type="submit" class="btn_submit bgcolor-8" style="width:90px; height:50px;float:left;border-radius:2px"><span class="glyphicon glyphicon-search"></span></button>
                   </div>
               </div>
           </div>
       }
       </div>
                     <div id="news">
                        
                             
                        
                            <div  id="collapseOne"style="width:100%;">
                                <table class="bordered table-striped" id="table1">
                                    <tr>
                                        <th>发单人</th>
                                        <th style="width:200px">
                                            领取地点
                                            @*@Html.DisplayNameFor(model => model.PickLocation.PlaceName)*@
                                        </th>
                                        <th>
                                            酬金类型
                                        </th>
                                        <th>
                                            酬劳
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.Mark)
                                            </th>*@
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.Comment)
                                            </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.PublishTime)
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.EndTime)
                                            </th>*@
                                        <th>操作</th>
                                    </tr>
                                 <tbody id="table2">
                                    @foreach (var item in Model)
                                    {
                                            <tr>
                                                @Html.HiddenFor(modelItem => item.ID)
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Sender.Name)
                                                </td>
                                                <td id="PlaceName">
                                                    @Html.DisplayFor(modelItem => item.PickLocation.PlaceName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Reward.Type)
                                                </td>
                                                <td>
                                                    @if (item.Reward.Type == "现金")
                                                    {
                                                        @Html.DisplayFor(modelItem => item.Reward.Money)
                                                        <span>元</span>
                                                    }
                                                    else if (item.Reward.Type == "物品")
                                                    {
                                                        <span class="glyphicon glyphicon-gift"></span>@Html.DisplayFor(modelItem => item.Reward.Remark)
                                                    }

                                                    else if (item.Reward.Type == "现金+物品")
                                                    {
                                                    @Html.DisplayFor(modelItem => item.Reward.Money)<span>元</span>
                                                    @Html.DisplayFor(modelItem => item.Reward.Remark)
                                                    }
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PublishTime)
                                                </td>

                                                <td>
                                                    <button id="1"  class="btn btn-primary" onClick="delcfm('${ctxPath}/manager/project/delete?id=${vo.id?default()}',this)">
                                                        帮忙代收
                                                    </button>
                                                   <a class="btn btn-default" onclick="showLoc(this)" ><span class="glyphicon glyphicon-map-marker"></span></a>
                                                </td>
                                            </tr>
                                    }
                                     </tbody>
                                </table>
                            </div>
                         <div id="divPage" style="margin-top:30px"></div>
                   </div>
                    @*<div class="panel-footer"> </div>*@
                          
    <div style="height:80px" id="map">
        <label class="control-label col-md-2"> 地点查看</label>
        <div id="r-result"  class="col-md-10">
            <input type="hidden" id="suggestId" class="form-control" size="20" value="百度" />
        </div>
        <hr>
        <div id="l-map" style="border-radius:20px"></div>
        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
        <br><br>
    </div>




    <!-- 信息确认 -->
    <div class="modal fade" id="delcfmModel">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">确认您的联系方式</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody id="myInfo">
                            <tr class="active">
                                <td>联系人</td>
                                <td id="name"></td>
                            </tr>
                            <tr class="success">
                                <td>手机</td>
                                <td id="phone"></td>
                            </tr>
                            <tr class="warning">
                                <td>地址</td>
                                <td><input type="text" class="form-control" id="address" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="url" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <a onclick="apply()" class="btn btn-success" data-dismiss="modal">确定</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>


<script type="text/javascript">
    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    var map = new BMap.Map("l-map");
    map.centerAndZoom("北京", 12);                   // 初始化地图,设置城市和地图级别。

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
		{
		    "input": "suggestId"
		, "location": map
		});

    ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace() {
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun() {
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }

    /*自动定位地图信息*/
    function showLoc(obj) {
        
        myValue = $(obj).closest("tr").find("#PlaceName").text();
        setPlace();
        window.location.href='#map';
    }

    var orderID;
    function delcfm(url, obj) {
        button_id = obj.id;
        $('#url').val(url);//给会话中的隐藏属性URL赋值
        $('#delcfmModel').modal();
        //alert("here");
        $.ajax({
            type:'POST',
            url: '@Url.Action("GetInfo","Orders")',
            data: {},
            dataType: 'json',
            success: function (data) {
                console.log(data);                
                $("#name").html(data.name);
                $("#phone").html(data.phone);
                orderID=$(obj).closest("tr").find("#item_ID").val();
            },
            error:function(){}
        });
    }

    function apply() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Apply","Orders")',
            data: {
                orderId:orderID,
                address: $("#address").val(),
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data == "SUCCESS") {
                    alert("申请成功！");
                }
                else if (data == "FAIL") {
                    alert("申请失败");
                }
                else {
                    alert(data);
                }
            },
            error: function () { }
        });
    }

    
   
    /*
    $(function () {
        $(".demo1").bootstrapNews({
            newsPerPage: 5,
            autoplay: true,
            pauseOnHover: true,
            direction: 'up',
            newsTickerInterval: 4000,
            onToDo: function () {
                //console.log(this);
            }
        });

        $(".demo2").bootstrapNews({
            newsPerPage: 4,
            autoplay: true,
            pauseOnHover: true,
            navigation: false,
            direction: 'down',
            newsTickerInterval: 2500,
            onToDo: function () {
                //console.log(this);
            }
        });

        $("#demo3").bootstrapNews({
            newsPerPage: 3,
            autoplay: false,
            onToDo: function () {
                //console.log(this);
            }
        });
    });*/
    var theTable = document.getElementById("table2");
    var numberRowsInTable = theTable.rows.length;
    var TableOper = {

        iniTable: function () {
            this.goPage(1);
        },
        // pageIndex：该页面位于第几页;
        goPage: function (pageIndex) {
            this.hideTable();
            var count;
            var i = (pageIndex - 1) * 5;

            if (pageIndex < Math.ceil(numberRowsInTable / 5) || pageIndex == numberRowsInTable / 5) {
                count = 5;
            } else {
                count = numberRowsInTable % 5;
            }
           
             
               for (var k=0; k <count; k++) 
                theTable.rows[i+k].style.display = '';
      
           this.jsPage('divPage', numberRowsInTable, 5, pageIndex, 'goPage');
        },

        hideTable: function() {
        for (var i = 0; i < numberRowsInTable; i++) {
            theTable.rows[i].style.display = 'none';
        }
    },

        //js分页
        //el:分页容器 count:总记录数 pageStep:每页显示多少个 pageNum:第几页 fnGo:分页跳转函数
        jsPage: function (el, count, pageStep, pageNum, fnGo) {
            this.getLink = function (fnGo, index, pageNum, text) {
                var s = '<a href="#p' + index + '" onclick="TableOper.' + fnGo + '(' + index + ');" ';
                if (index == pageNum) {
                    s += 'class="aCur" ';
                }
                text = text || index;
                s += '>' + text + '</a> ';

                return s;

            }

            //总页数
            var pageNumAll = Math.ceil(count / pageStep);
            if (pageNumAll == 1) {
                divPage.innerHTML = '';
                return;
            }
            var itemNum = 5; //当前页左右两边显示个数
            pageNum = Math.max(pageNum, 1);
            pageNum = Math.min(pageNum, pageNumAll);
            var s = '';
            if (pageNum > 1) {
                s += this.getLink(fnGo, pageNum - 1, pageNum, '上一页');
            } else {
                s += '<span>上一页</span> ';
            }
            var begin = 1;
            if (pageNum - itemNum > 1) {
                s += this.getLink(fnGo, 1, pageNum) + '... ';
                begin = pageNum - itemNum;
            }
            var end = Math.min(pageNumAll, begin + itemNum * 2);
            if (end == pageNumAll - 1) {
                end = pageNumAll;
            }
            for (var i = begin; i <= end; i++) {
                s += this.getLink(fnGo, i, pageNum);
            }
            if (end < pageNumAll) {
                s += '... ' + this.getLink(fnGo, pageNumAll, pageNum);
            }
            if (pageNum < pageNumAll) {
                s += this.getLink(fnGo, pageNum + 1, pageNum, '下一页');
            } else {
                s += '<span>下一页</span> ';
            }
            var divPage = document.getElementById(el);
            divPage.innerHTML = s;
        }

    }
    window.onload = function () {
        var tableOper = TableOper;
        tableOper.iniTable();
    }
   
</script>