
@{
    ViewBag.Title = "发起申请";
}

<html>
<head>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ta8D0yykrTj7hGKuvdaYOWcOiwvhsZG4"></script>

</head>

<body>
    <h2>发起申请</h2>
    <div style="width:500px;float:left;display:inline">
        @*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "create-order-form", role = "form" }))
        {*@
            <div class = "create-order-form" >
                @Html.AntiForgeryToken()
                <div style="width:500px;float:left;">
                    <div class="form-horizontal">
                        @*<h4>Orders</h4>*@
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*<div style="display:none;">
                            <input id="SenderID" name="SenderID" type="text" value="" />
                        </div>*@

                        <div id="wordx" style="margin-left:5%;margin-top:6%">
                            <div style="width:75px"><h4>包裹信息</h4></div>
                            <div style="width:400px">
                                <a href="#" class="btn-add" onclick="showInsert()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                            </div>
                            <table class="table" style="width:400px;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">快递公司</th>
                                        <th style="text-align:center">包裹描述</th>
                                        <th style="text-align:center">操作</th>
                                    </tr>
                                </thead>
                                <tbody id="packageBody"></tbody>
                            </table>
                        </div>
                       <div class="form-group">
                           <label class="control-label col-md-2"> 酬金类型</label>
                        <div class="col-md-10">
                            <input id="Reward_Type" name="Reward.Type" onclick="change(0)" type="radio" value="0" checked="checked">现金
                            <input id="Reward_Type" name="Reward.Type" onclick="change(1)" type="radio" value="1">物品
                        </div>
                       </div>
                        <div class="form-group">
                            <label class="control-label col-md-2"> 金额</label>
                            <div class="col-md-10">
                                <input id="moneyInput" class="form-control" type="text" size="14" maxlength="14" onkeyup='this.value=this.value.replace(/\D/gi,"")' />(仅限数字输入)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2"> 物品信息</label>
                            <div class="col-md-10">
                                <input id="remarkInput" class="form-control" type="text"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="width:350px;">
                                <input id="submit" type="button" class="btn btn-default" value="创建申请"/>
                            </div>
                        </div>
                    </div>
                </div>
                @*}*@
                </div>
</div>

    <div style="width:500px; top:20%;float:right;margin-top:3%;display:inline">
        <h4>地点信息</h4>

            <div id="r-result" class="form-group">
                <label class="control-label col-md-2"> 地点</label>
                <div class="col-md-10">
                    <input type="text" id="suggestId" class="form-control" size="20" value="百度" />
                </div>
            <br></br>
            <div class="form-group">
                <label class="control-label col-md-2"> 备注</label>
                <div class="col-md-10">
                    <input type="text" id="Remark" class="form-control"/>
                </div>
            </div> 
            <br></br>
            <div id="l-map"></div>
            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
            @*<div id="allmap"></div>*@
        </div>
      </div>
   <div style="width:500px;float:left;">
        @Html.ActionLink("查看我的订单信息", "Index")
   </div>




   
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">

    // 百度地图API功能
    //var map1 = new BMap.Map("allmap");
    //map1.centerAndZoom(new BMap.Point(116.404, 39.915), 11);
    //function showInfo(e) {
    //   // alert(e.point.lng + ", " + e.point.lat);
    //    $("#Longitude").val(e.point.lng);
    //    $("#Latitude").val(e.point.lat);
    //}
    //map1.addEventListener("click", showInfo);

    function G(id) {
        return document.getElementById(id);
    }

    var map = new BMap.Map("l-map");
    map.centerAndZoom("北京", 12);                   // 初始化地图,设置城市和地图级别。

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
		{
		    "input": "suggestId"
		, "location": map
		});

    ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace() {
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun() {
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
        $("#PlaceName").val(myValue);
    }
    @*var userId=int.Parse(@Session["LoginId"].ToString());
    $("#SenderID").val(userId);*@

    var isInsert=0;
    function showInsert(){
        if(isInsert==0){
            var addHtml= "<tr id='insertTr'><td style='text-align:center'><input id='express' type='text' class='form-control'>"+
                         "</td><td><input  id='packageRemark' type='text' class='form-control'></td>"+
                         " <td><a onclick='submitAdd()' class='btn-operation'><span class='glyphicon glyphicon-ok-circle' aria-hidden='true'></span></a></td></tr>";
            $("#packageBody").append(addHtml);
            isInsert=1;
        }
    }

    function submitAdd(){
        var exp= $("#insertTr #express").val();
        var rmk= $("#insertTr #packageRemark").val();
        $("#packageBody #insertTr").remove();
        var addHtml="<tr><td style='text-align:center'>"+exp+
                     "</td><td style='text-align:center'>"+rmk+"</td>"+
                     "<td><a onclick='trash(this)' class='btn-operation' href='#'><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></a></td></tr>";
        $("#packageBody").append(addHtml);
        isInsert=0;
    }
    
    function trash(obj){
        $(obj).parent().parent().remove();
    }
    var rewardType = '0';
    $("#Reward_Type").attr("checked", 0);
    $("#remarkInput").attr("disabled", true);
    function change(type) {
        if (type == 0) {
            rewardType ='0';
            $("#remarkInput").attr("disabled", true);
            $("#moneyInput").attr("disabled", false);
        }
        else {
            rewardType = '1';
            $("#moneyInput").attr("disabled", true);
            $("#remarkInput").attr("disabled", false);
        }
    }

    function check() {
        if (isNaN($("#moneyInput").val())) {
            alert("只能输入数字！");
            $("#moneyInput").val('');
        }
    }

    $('#submit').click(function(){
        if(isInsert==1){
            alert("请确认包裹信息");
            return;
        }
        var PlaceName= $("#suggestId").val();
        var Remark = $("#Remark").val();
        //var SenderID=$("#SenderID").val();
        var pack={};//新建对象，用来存储所有数据
        var tableData=[];
        var onePack=[];//存储每一行数据
       
        $("#packageBody tr").each(function(trindex,tritem){//遍历每一行
            tableData[trindex]=new Array();
            var o={};
            var expr;
            var rema;
            $(tritem).find("td").each(function(tdindex,tditem){
                //tableData[trindex][tdindex]=$(tditem).text();//遍历每一个数据，并存入                               
                if(tdindex==0){ expr=$(tditem).text();}                    
                else if(tdindex==1){ rema=$(tditem).text();}               
            });
            o.express = expr;
            o.describe = rema;            
            onePack.push(o);//将每一行的数据存入
        });
        //pack.put("pack", onePack);
        pack.pack = onePack;
        console.log(pack);
        console.log(Remark);
        console.log(PlaceName);
        if(!PlaceName||PlaceName=='')
        {
            alert("请输入地址信息");
            return;
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Orders")',
            data: {  pack: JSON.stringify(pack),
                     PlaceName: PlaceName,
                     Remark: Remark,
                     rewardType: rewardType,
                     money: $("#moneyInput").val(),
                     rewardRmk:$("#remarkInput").val(),
                    // SenderID: SenderID,
            },
            dataType:'json',
           // contentType: 'application/json',
            success: function (result) {
                if (result == "SUCCESS") {
                    alert("订单创建成功！");
                }
                else if (result == "FAIL") {
                    alert("订单创建失败");
                }
            },
            error: function () { alert("订单创建失败");}
        });

    });
</script>
