@model IEnumerable<Delivery.Models.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PickLocation.PlaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receiver.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiverLocation.PlaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reward.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sender.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PickLocation.PlaceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receiver.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiverLocation.PlaceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reward.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sender.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
