@model PagedList.IPagedList<Delivery.Models.Orders>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "接收订单";
}

<body>
    <div class="header">
        <div class="container" style="margin-top:10px;border-radius:10px">
            <header>
                <h2 style="font-weight:bold" align="center">代收订单</h2>
            </header>
            <div>
                <p align="center">
                    @Html.ActionLink("我发出的订单", "Index")
                </p>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-sm-4">
                <img src="~/images/13.png">
            </div>
            <div class="col-sm-4">
                <img src="~/images/1.png">
            </div>
            <div class="col-sm-4">
                <img src="~/images/17.png">
            </div>
        </div><br>

        @using (Html.BeginForm("ReceiveIndex", "Orders", FormMethod.Get))
        {
            <div class="container">
                <div class="row search" align="center">
                    <div class="col-md-2 col-md-offset-2 search-select-div">
                        <select class="search-select" name="type">
                            <option value="0">全部</option>
                            <option value="1">领取地点</option>
                            <option value="2">代收地点</option>
                            <option value="3">状态</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <input type="text" name="key" class="search-input" value=@ViewBag.CurrentFilter>
                            @*@Html.TextBox("key", ViewBag.CurrentFilter as string,new { @class=""})*@
                        </div>
                        <div>
                            <button type="submit" class="submit-btn"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="table-responsive">
        <table class="table bordered table-striped">
            <tr>
                <th>
                    @Html.ActionLink("发单人", "ReceiveIndex", new { sortOrder = ViewBag.SenderName, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    手机
                </th>
                <th>
                    @Html.ActionLink("领取地点", "ReceiveIndex", new { sortOrder = ViewBag.PickLocation, currentFilter = ViewBag.CurrentFilter })
                    @*@Html.DisplayNameFor(model => model.PickLocation.PlaceName)*@
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Sender.Account)
                    </th>*@
                <th>
                    @Html.ActionLink("代收地点", "ReceiveIndex", new { sortOrder = ViewBag.ReceiverLocation, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    酬金类型
                </th>
                <th>
                    @Html.ActionLink("状态", "ReceiveIndex", new { sortOrder = ViewBag.Status, currentFilter = ViewBag.CurrentFilter })
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Mark)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>*@
                <th>
                    @Html.ActionLink("公告时间", "ReceiveIndex", new { sortOrder = ViewBag.PublishTime, currentFilter = ViewBag.CurrentFilter })
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </th>*@
                <th style="width:130px">操作</th>
            </tr>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Status != "已删除")
                    {
                        <tr>
                            @Html.HiddenFor(modelItem => item.ID)
                            <td>
                                @Html.DisplayFor(modelItem => item.Sender.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sender.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PickLocation.PlaceName)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Sender.Account)
                                </td>*@
                            <td>
                                @if (item.Status == "等待接收")
                                {
                                    <span>无</span>
                                }
                                else if (item.Status == "待选择")
                                {
                                    <span>无</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.ReceiverLocation.PlaceName)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reward.Type)
                            </td>
                            <td>
                                @if (item.Status == "接收中")
                                {
                                    <button class="btn btn-primary" onClick="confirmOrder(this)">确认代收</button>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Status)
                                }
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Mark)
                                </td>*@
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.PublishTime)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>*@
                            <td>
                                @if (item.Status == "订单完成")
                                {
                                    <a href="@Url.Action("Details", "Orders", new { id=@item.ID})">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                        <span>|</span>
                                        <a onclick="deleteOrder(this)"><span class="glyphicon glyphicon-trash"></span></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Details", "Orders", new { id=@item.ID})">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
          </table>
        </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 page-size">
            @Html.PagedListPager(Model, page => Url.Action("ReceiveIndex", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>

        <div class="container" style="margin-top:100px">
            <div class="row half-boxes">
                <div class="col-md-6 col-md-push-6 half-box" style="margin-top:40px">
                    <h2 class="mb-lg">Perfect Package</h2>
                    <p>
                        请相信我们可以为您提供优质的线下快递服务。
                    </p>
                    <p>
                        如果您有任何问题，请联系我们--<a href="445072942@qq.com">445072942@qq.com</a>
                    </p>
                </div>
                <div class="col-md-6 col-md-pull-6 half-box">
                    <img src="~/images/18.png" class="img-responsive radius" style="margin-left:20px;">
                </div>
            </div>
        </div>

        @*<div class="modal fade" id="two">
                <div class="modal-dialog">
                    <div class="modal-content message_align">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">确认信息</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                    <tr class="active">
                                        <td>订单号</td>
                                        <td>10123</td>
                                    </tr>
                                    <tr class="success">
                                        <td>收件人</td>
                                        <td>小洪</td>
                                    </tr>
                                    <tr class="warning">
                                        <td>地址</td>
                                        <td>
                                            河西食堂
                                        </td>
                                    </tr>
                                    <tr class="danger">
                                        <td></td>
                                        <td>
                                            确认对方已收？
                                        </td>
                                    </tr>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="url" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" onclick="sure()" class="btn btn-success" data-dismiss="modal">确定</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->*@
</body>


<script>
   /* var selectOrder;
    function confirmShow(obj) {
        $('#two').modal();
        orderId = $(obj).closest("tr").find("#item_ID").val();
        selectOrder = orderId;
        $.ajax({
            type: 'POST',
            url: 'Url.Action("GetCompetitors","Orders")',
            data: {
                orderId: orderId,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data == "FAIL") {
                    alert("获取代收人失败");
                }
                else {
                    var addHtml = "";
                    $.each($.parseJSON(data), function (index, item) {
                        console.log(item);
                        addHtml += "<tr class='success'><td><input type='radio' name='radio' value='" + item.id + "' onclick='radioclick(this)'></td>" +
                                "<td>" + item.name + "</td>" +
                                "<td>" + item.account + "</td>" +
                                "<td>" + item.phone + "</td>" +
                                "<td>" + item.address + "</td></tr>";
                        // "<td>" + item.remark + "</td> </tr>";
                    });
                    $("#tbody").html(addHtml);
                }
            },
            error: function () { alert("出错了"); }
        });

    }*/

    
    function confirmOrder(obj) {
        if (confirm("确认已收到包裹？")) {
            var id = $(obj).closest("tr").find("#item_ID").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AcceptedOrder", "Orders")',
                data: { 'id': id },
                dataType: 'json',
                success: function (data) {
                    if (data == "SUCCESS") {
                        alert("已确认代收");
                        window.location.reload();
                    }
                    else {
                        alert("确认代收失败");
                    }
                },
                error: function () { alert("出错了"); }
            });
        }
    }

    function deleteOrder(obj) {
        if (confirm("确认删除该订单？")) {
            var id = $(obj).closest("tr").find("#item_ID").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteOrder","Orders")',
                data: { 'id': id },
                dataType: 'json',
                success: function (data) {
                    if (data == "SUCCESS") {
                        alert("删除成功");
                        window.location.reload();
                    }
                    else {
                        alert("删除失败");
                    }
                },
                error: function () { alert("出错了"); }
            });
        }

    }

</script>