@model IEnumerable<Delivery.Models.Orders>

@{
    ViewBag.Title = "接收订单信息";
}



<html>
<head>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/app.css">
    <link rel="stylesheet" type="text/css" href="~/Content/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/default.css">
    <script src="~/scripts/app.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
     
        /*分页样式*/
        #divPage {
            text-align: center;
            margin: 10px 0px;
            height: 30px;
            font-size: 12px;
        }

            #divPage a, #divPage span {
                text-decoration: none;
                color: Blue;
                background-color: White;
                padding: 3px 5px;
                font-family: Consolas;
                text-align: center;
                border: solid 1px #ddd;
                display: inline-block;
            }

            #divPage span {
                color: gray;
            }

            #divPage a:hover {
                color: Red;
            }

            #divPage .aCur {
                background-color: green;
                color: White;
                font-weight: bold;
            }
    </style>
</head>

<body>
    @*<section class="bg-pic bg-pic-team" style="background-image:url(/Content/4.png)">
            <img src="~/Content/6.png" style="opacity:0.8">
        </section>*@
    <div class="container-fluid" style="margin-top:80px;border-radius:10px;width:1000px">
        <header>
            <h1 align="center">接收订单信息 </h1>
        </header>
        <div>
            <p align="center">
                @Html.ActionLink("我发出的订单", "Index")
            </p>
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-sm-4">
            <img src="~/images/13.png">
        </div>
        <div class="col-sm-4">
            <img src="~/images/1.png" >
        </div>
        <div class="col-sm-4">
            <img src="~/images/17.png" >
        </div>
    </div><br><br>
    
        @using (Html.BeginForm())
        {
            <div class="row" style="height:100px;background: rgba(14, 148, 130, 0.1);border-radius:5px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99F4DBBB, endColorstr=#99F4DBBB);">
                <div class="col-md-2 col-md-offset-2" style="padding-top:30px">
                    <select style="border-radius:3px" name="type">
                        <option value="0">全部</option>
                        <option value="1">领取地点</option>
                        <option value="2">代收地点</option>
                        <option value="3">状态</option>
                    </select>
                </div>
                <div class="col-md-7" style="padding-top:25px;">
                    <div class="kuan">
                        <input type="text" name="key" style="width:330px; height:50px;float:left;border-radius:2px; "></div>
                        <div class="an" style="background-color:darksalmon">
                            <button type="submit" class="btn_default bgcolor-8" style="width:90px; height:50px;float:left;border-radius:2px"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div></div>
               }
            <table class="bordered" align="center" style="margin-top:100px">
                <tr>
                    <th style="width:80px">
                        发单人
                    </th>
                    <th>
                        手机号
                    </th>
                    <th style="width:200px">
                        领取地点
                        @*@Html.DisplayNameFor(model => model.PickLocation.PlaceName)*@
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Sender.Account)
                        </th>*@
                    <th style="width:200px">
                        代收地点
                        @*@Html.DisplayNameFor(model => model.ReceiverLocation.PlaceName)*@
                    </th>
                    <th style="width:100px">
                        酬金类型
                    </th>

                    <th style="width:80px">
                        状态
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Mark)
                        </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.PublishTime)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.EndTime)
                        </th>*@
                    <th style="width:130px">操作</th>
                </tr>
                <tbody id="table2">
                    @foreach (var item in Model)
                    {
                        if (item.Status != "已删除")
                        {
                            <tr>
                                @Html.HiddenFor(modelItem => item.ID)
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sender.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sender.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PickLocation.PlaceName)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Sender.Account)
                                    </td>*@
                                <td>
                                    @if (item.Status == "等待接收")
                        {
                                        <span>无</span>
                                    }
                                    else if (item.Status == "待选择")
                                    {
                                        <span>无</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.ReceiverLocation.PlaceName)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reward.Type)
                                </td>
                                <td>
                                    @if (item.Status == "接收中")
                        {
                                        <button class="btn btn-primary" onClick="confirmOrder(this)">确认代收</button>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Status)
                                    }
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Mark)
                                    </td>*@
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.PublishTime)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.EndTime)
                                    </td>*@
                                <td>
                                    @if (item.Status == "订单完成")
                        {
                                        <a href="@Url.Action("Details", "Orders", new { id=@item.ID})" >
    <span class="glyphicon glyphicon-eye-open"></span>
</a>
                                        <span>|</span>
                                        <a onclick="deleteOrder(this)"><span class="glyphicon glyphicon-trash"></span></a>
                                    }
                                    else
                                    {
                                         <a href="@Url.Action("Details", "Orders", new { id=@item.ID})" >
    <span class="glyphicon glyphicon-eye-open"></span>
</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div id="divPage" style="margin-top:30px"></div>

            <div class="container" style="margin-top:100px">
                <div class="row half-boxes">
                    <div class="col-md-6 col-md-push-6 half-box" style="margin-top:40px">
                        <h2 class="mb-lg">Perfect Package</h2>
                        <p>
                            Trust us because we have the convenient service.Open your computer and telephone.
                        </p>
                        <p>
                            Drop us an email at <a href="445072942@qq.com">445072942@qq.com(77)</a>
                        </p>
                        <p>
                            Contact us if you have any questions.
                        </p>
                    </div>
                    <div class="col-md-6 col-md-pull-6 half-box">
                        <img src="~/images/18.png" class="img-responsive radius" style="height:400px;margin-left:20px;width:400px;">
                    </div>
                </div>
            </div>





            @*<div class="modal fade" id="two">
                    <div class="modal-dialog">
                        <div class="modal-content message_align">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">确认信息</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                        <tr class="active">
                                            <td>订单号</td>
                                            <td>10123</td>
                                        </tr>
                                        <tr class="success">
                                            <td>收件人</td>
                                            <td>小洪</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>地址</td>
                                            <td>
                                                河西食堂
                                            </td>
                                        </tr>
                                        <tr class="danger">
                                            <td></td>
                                            <td>
                                                确认对方已收？
                                            </td>
                                        </tr>
                                </table>

                            </div>
                            <div class="modal-footer">
                                <input type="hidden" id="url" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" onclick="sure()" class="btn btn-success" data-dismiss="modal">确定</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->*@

            <div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
                <a href="#">Package.com@ecnu.edu.cn</a>
            </div>

</body>
</html>

<script>
   /* var selectOrder;
    function confirmShow(obj) {
        $('#two').modal();
        orderId = $(obj).closest("tr").find("#item_ID").val();
        selectOrder = orderId;
        $.ajax({
            type: 'POST',
            url: 'Url.Action("GetCompetitors","Orders")',
            data: {
                orderId: orderId,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data == "FAIL") {
                    alert("获取代收人失败");
                }
                else {
                    var addHtml = "";
                    $.each($.parseJSON(data), function (index, item) {
                        console.log(item);
                        addHtml += "<tr class='success'><td><input type='radio' name='radio' value='" + item.id + "' onclick='radioclick(this)'></td>" +
                                "<td>" + item.name + "</td>" +
                                "<td>" + item.account + "</td>" +
                                "<td>" + item.phone + "</td>" +
                                "<td>" + item.address + "</td></tr>";
                        // "<td>" + item.remark + "</td> </tr>";
                    });
                    $("#tbody").html(addHtml);
                }
            },
            error: function () { alert("出错了"); }
        });

    }*/

    
    function confirmOrder(obj) {
        if (confirm("确认已收到包裹？")) {
            var id = $(obj).closest("tr").find("#item_ID").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("AcceptedOrder", "Orders")',
                data: { 'id': id },
                dataType: 'json',
                success: function (data) {
                    if (data == "SUCCESS") {
                        alert("已确认代收");
                        window.location.reload();
                    }
                    else {
                        alert("确认代收失败");
                    }
                },
                error: function () { alert("出错了"); }
            });
        }
    }

    function deleteOrder(obj) {
        if (confirm("确认删除该订单？")) {
            var id = $(obj).closest("tr").find("#item_ID").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteOrder","Orders")',
                data: { 'id': id },
                dataType: 'json',
                success: function (data) {
                    if (data == "SUCCESS") {
                        alert("删除成功");
                        window.location.reload();
                    }
                    else {
                        alert("删除失败");
                    }
                },
                error: function () { alert("出错了"); }
            });
        }

    }

    //分页
    var theTable = document.getElementById("table2");
    var numberRowsInTable = theTable.rows.length;
    var TableOper = {

        iniTable: function () {
            this.goPage(1);
        },
        // pageIndex：该页面位于第几页;
        goPage: function (pageIndex) {
            this.hideTable();
            var count;
            var i = (pageIndex - 1) * 10;

            if (pageIndex < Math.ceil(numberRowsInTable / 10) || pageIndex == numberRowsInTable / 10) {
                count = 10;
            } else {
                count = numberRowsInTable % 10;
            }


            for (var k = 0; k < count; k++)
                theTable.rows[i + k].style.display = '';

            this.jsPage('divPage', numberRowsInTable, 10, pageIndex, 'goPage');
        },

        hideTable: function () {
            for (var i = 0; i < numberRowsInTable; i++) {
                theTable.rows[i].style.display = 'none';
            }
        },

        //js分页
        //el:分页容器 count:总记录数 pageStep:每页显示多少个 pageNum:第几页 fnGo:分页跳转函数
        jsPage: function (el, count, pageStep, pageNum, fnGo) {
            this.getLink = function (fnGo, index, pageNum, text) {
                var s = '<a href="#p' + index + '" onclick="TableOper.' + fnGo + '(' + index + ');" ';
                if (index == pageNum) {
                    s += 'class="aCur" ';
                }
                text = text || index;
                s += '>' + text + '</a> ';

                return s;

            }

            //总页数
            var pageNumAll = Math.ceil(count / pageStep);
            if (pageNumAll == 1) {
                divPage.innerHTML = '';
                return;
            }
            var itemNum = 5; //当前页左右两边显示个数
            pageNum = Math.max(pageNum, 1);
            pageNum = Math.min(pageNum, pageNumAll);
            var s = '';
            if (pageNum > 1) {
                s += this.getLink(fnGo, pageNum - 1, pageNum, '上一页');
            } else {
                s += '<span>上一页</span> ';
            }
            var begin = 1;
            if (pageNum - itemNum > 1) {
                s += this.getLink(fnGo, 1, pageNum) + '... ';
                begin = pageNum - itemNum;
            }
            var end = Math.min(pageNumAll, begin + itemNum * 2);
            if (end == pageNumAll - 1) {
                end = pageNumAll;
            }
            for (var i = begin; i <= end; i++) {
                s += this.getLink(fnGo, i, pageNum);
            }
            if (end < pageNumAll) {
                s += '... ' + this.getLink(fnGo, pageNumAll, pageNum);
            }
            if (pageNum < pageNumAll) {
                s += this.getLink(fnGo, pageNum + 1, pageNum, '下一页');
            } else {
                s += '<span>下一页</span> ';
            }
            var divPage = document.getElementById(el);
            divPage.innerHTML = s;
        }

    }
    window.onload = function () {
        var tableOper = TableOper;
        tableOper.iniTable();
    }
</script>