@model Delivery.Models.Users

@{
    ViewBag.Title = "个人设置";
}

<html>
<head>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/app.css">

    <script src="~/scripts/app.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>

<body background="~/images/2.png " style="background-repeat:no-repeat ;
background-size:100% 100%;
background-attachment: fixed;">
    

            <div class="row" >
                <h2 align="center">个人设置</h2>
                <div class="col-sm-4">
                    <div class="icon-box">
                        <img src="~/images/clock.png" alt="Clock icon">
                        <h3>基本信息</h3>
                        <table>
                            <tbody>
                                <tr class="active">
                                    <td>用户</td>
                                    <td>
                                        @Html.DisplayFor(model => model.Account, new { htmlAttributes = new { @class = "col-sm-8" } })
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>姓名</td>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>性别</td>
                                    <td>
                                        @Html.DisplayFor(model => model.Sex)
                                    </td>
                                </tr>
                                <tr class="active">
                                    <td>院系</td>
                                    <td>
                                        @Html.DisplayFor(model => model.Grade)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="icon-box">
                        <img src="~/images/graph.png" alt="Graph icon">
                        <h3>联系方式</h3>
                        <table>
                            <tbody>
                                <tr class="active">
                                    <td>手机号</td>
                                    <td>
                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="icon-box">
                        <img src="~/images/open-box.png" alt="Box icon">
                        <div id="content">
                            <form id="Form1" method="post"
                                  enctype="multipart/form-data">
                                <fieldset>
                                    <legend>常用地址:   <a href="javascript:addUpload()"><span class="glyphicon glyphicon-plus"></span></a></legend>                                 
                                    <div>
                                        <table>
                                            <tr >
                                                <td id="tdRrmove"  width="2000">
                                                    <!--承接整个file文件框的HTML容器-->
                                                    <div id="uploadContent">
                                                        <!--默认的file文件框
                                                                               <div id=div1><input id=file1

                                                        type=file size=50 name=upload></div>-->
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    
                                    <br />
                                    <br />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-lg">
                <a class="btn btn-lg btn-action" onclick="save()">保存</a>
            </div>
</body>
</html>

<script language="javascript">

    var count = 0;
    $.ajax({
            type: 'POST',
            url: '@Url.Action("AddressGet", "Users")',
            data: {},
            dataType:'json',
            success: function (data) {
                console.log(data);
                if (data!="FAIL") {
                    $.each(data, function (index, value) {
                        count++;
                        var newDiv = "<div id=divUpload" + count + ">" + " <div class=row><div class=col-md-6>"
                + " <input id=text" + count + "  class=form-control  type=text name=upload value="+value+"></div><div class=col-md-2 > "
                + "<a href=javascript:delUpload('divUpload" + count + "');><span class='glyphicon glyphicon-trash'></span></a></div></div><br>"
                + " </div>";
                        document.getElementById("uploadContent").insertAdjacentHTML("beforeEnd", newDiv);                      
                    });
                }
                else if (result == "FAIL") {
                    alert("获取常用地址失败");
                }
            },
            error: function () { alert("失败");}
        });
    //新增地址输入框
     function addUpload() {
         var input_id = "text" + count;
         if (count > 0 && document.getElementById(input_id).value == "") {
             alert("请输入地址后，再进行添加");
             return;
         }

        count++;
        //自增id
        var newDiv =  "<div id=divUpload" + count +">"+" <div class=row><div class=col-md-6>"
            + " <input id=text" + count + "  class=form-control  type=text  placeholder=请输入地址 name=upload></div><div class=col-md-2 > "
            + "<a href=javascript:delUpload('divUpload" + count + "');><span class='glyphicon glyphicon-trash'></span></a></div></div><br>"
            + " </div>";
          document.getElementById("uploadContent").insertAdjacentHTML("beforeEnd", newDiv);
    }
    //删除常用地址
    function delUpload(diva) {
        count--;
        document.getElementById(diva).parentNode.removeChild(document.getElementById(diva));
    }

    function save() {
        var phone = $('#PhoneNumber').val();
        var addresses = [];
        for (var i = 1; i <= count;i++){
            addresses.push($("#text"+i).val());
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Save", "Users")',
            data: {
                addresses: addresses,
                phone: phone,
            },
            dataType:'json',
            success: function (result) {
                if (result == "SUCCESS") {
                    alert("保存成功！");
                }
                else if (result == "FAIL") {
                    alert("保存失败");
                }
            },
            error: function () { alert("失败");}
        });
    }
</script>
